/* Import Wizard Styles */

body, td {
    font-family: Arial, Helvetica, sans-serif;
}

.message {
    background-color: #ffc;
    border-style: solid;
    border-width: 1px;
    color: #000;
    padding: 6px 8px 6px 6px;
    margin: 4px 20px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.message .messageText {
    margin-left: 8px;
}

.message .messageText h4 {
    font-weight: bold;
    display: block;
}

.message table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}

.message tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.message .msgIcon {
    background-position: 0px 0px;width:24px;
    height:24px;
}

.message .inprogress { border-color: #fceeb4; }
.message .inprogress .messageText { width: 160px; }
.message .inprogress .msgIcon {
    background-image: url({!URLFOR($Resource.ImportWizard, 'images/spinner24.gif')});
}

.message .complete { border-color: #390; }
.message .complete .messageText { width: 400px; }
.message .complete .msgIcon {
    background-image: url({!URLFOR($Resource.ImportWizard, 'images/confirm24.png')});
}

.message .error { border-color: #c00; }
.message .error .messageText { width: 400px; }
.message .error .msgIcon {
    background-image: url({!URLFOR($Resource.ImportWizard, 'images/error24.png')});
}

.job-progress-bar {
    background-color: #f8f8f8;
    border:1px solid #DDDDDD;
    height: 25px;
    width: 300px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    float: center;
    position: relative;
    margin-left: 10px;
}
.job-progress {
    background-color: #F7B64B;
    border:1px solid #E78F08;
    height: 100%;
    margin: -1px;
    
    text-align: center;
    font-weight: 700;
    color: black;
    
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    line-height: 18px;
    position: relative;
}
.job-progress .job-percent {
    padding: 8px;
}
#message-box h2 {
    font-size: 12pt;
    font-weight: 100;
    margin: 4px 2px;
    padding: 4px 4px 4px 4px;
}